#!/usr/bin/make -f
clean:
	rm -f potatodrive-proxy-${DEB_HOST_ARCH}

build:
	cp ../potatodrive-proxy-${DEB_HOST_ARCH} potatodrive-proxy

binary:
	mkdir -p debian/potatodrive-proxy
	mkdir -p debian/potatodrive-proxy/usr/bin
	sudo cp potatodrive-proxy debian/potatodrive-proxy/usr/bin/
	dh_gencontrol
	dh_builddeb